In [0]:
print('Ankur Singh')

Ankur Singh

In [2]:
name = 'Ankur Singh'
age = 20
print('my name is {} and i am {} years old'.format(name,age ))

my name is Ankur Singh and i am 20 years old

In [3]:
print(f'i am {name}')

i am Ankur Singh

In [5]:
spam = ['ab','bc','cd','ef']
print(f"value of spam is {spam[2]}")

value of spam is cd
ERROR! Session/line number was not unique in database. History logging moved to new session 68

In [0]:
college = [('Name','Branch','year'),
            ('ANkit','cs','it'),
            ('manoj','it','3')]

In [8]:
for data in college:
  print(f"Student name is {data[0]}")

Student name is Name
Student name is ANkit
Student name is manoj

In [11]:
for name,branch,year in college:
  print(f"{name:{10}},{branch:{40}},{year:{10}} ")

Name      ,Branch                                  ,year
ANkit     ,cs                                      ,it
manoj     ,it                                      ,3